# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
build/
*.apk
*.aab

# Environment variables
.env
.env.local
*.env

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml

# Cursor
.cursor/

